nav {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  background-color: rgb(24, 0, 0);
  padding: 12px 18px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  text-transform: uppercase;
  transition: 0.3s all ease-in-out;
  font-weight: bold;
}

nav a:hover {
  color: rgb(108, 112, 111);
}
